<div class="footer">
  <div class="flex center">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 margin-15">
      <%= link_to I18n.t('.custom.terms'), rails_admin_path, class: "footer-link" %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 margin-15">
      <%= link_to I18n.t('.custom.contact'), rails_admin_path, class: "footer-link" %>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 margin-15">
      <%= link_to I18n.t('.custom.about'), rails_admin_path, class: "footer-link" %>
    </div>
  </div>
</div>